.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--black-color);
    // margin-right: 93px;
}
.logo__span{
    color:var(--blue-color);
}
@media screen and(max-width:1199px) {
    .logo{
        font-size: 24px;
    }
}