// .footer-conteiner{
//     padding-top: 60px;
//     padding-bottom: 60px;
//     display: flex;
//     flex-direction: row;
//     align-items: baseline;
// }
// .address{
//     font-style: normal;
//     margin-right: 70px;
// }
// .address__logo{
//     color: var(--white-color);
//     margin-bottom: 20px;
//     margin-right: 0px;
//     display: inline-block;
// }
// .address__text{
//     color:var(--blue-color);
// } 
// .address__link{
//     font-style: normal;
//     font-size: 14px;
//     line-height:1.7;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     margin-top: 9px;
//     display: block;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &-contacts:hover,
//     &-contacts:focus{
//     color: var(--blue-color);
// }
// }
// .address__link-map{
//     color: var(--white-color);
// }
// .social-wrapper{
//     display: flex;
//     flex-direction: column; 
// }
// .social-wrapper .second-titel{
//     color: var(--white-color);
//     margin-top: 0px;
//     margin-bottom: 20px;
// }
// .social{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .social__list{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: rgba(255, 255, 255, 0.1);
//     width: 44px;
//     height: 44px;
//     border-radius: 50%; 
//     transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:not(:first-child){
//         margin-left: 10px;
//     }
//     .social__icons{
//         fill: var(--white-color);
//     }
//     &:hover, .ellipse-icon-footer:focus{
//         background: var(--blue-color);
//     }
// }
// .footer{
//     background-color: var(--fon-color);
// }
// .distribution{
//     margin-left: 93px;
// }
// .second-titel.distribution__text{
//     color: var(--white-color);
// }
// .telegram{
//     display: flex;
//     align-items: flex-end;
// }
// .telegram__label{
//     display:inline-block;
//     margin-top: 20px;
//     margin-right: 12px;
// }
// .telegram__input{
//     height: 50px;
//     width: 358px;
//     padding-left: 16px;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     background: var(--fon-color);
//     outline: none;
//     color: var(--white-color);

//     &::placeholder{
//         color: gba(255, 255, 255, 0.6);
//     }
// }

// .telegram__button{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 200px;
//     height: 50px;
//     color: var(--white-color);
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border: 1px solid var(--blue-color);
//     border-radius: 4px;
// }
// .telegram__icon{
//     margin-left: 10px;
// }

.footer-conteiner{
    padding-top: 60px;
    padding-bottom: 60px;
    // display: flex;
    // flex-direction: row;
    // align-items: baseline;
}
.address{
    font-style: normal;
    // margin-right: 70px;
}
.address__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address__logo{
    color: var(--white-color);
    margin-bottom: 20px;
    margin-right: 0px;
    display: inline-block;
}
.address__text{
    color:var(--blue-color);
} 
.address__link{
    font-style: normal;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-contacts:hover,
    &-contacts:focus{
    color: var(--blue-color);
}
}
.address__link-map{
    color: var(--white-color);
}
.social-wrapper{
    // display: flex;
    // flex-direction: column; 
}
.social-wrapper .second-titel{
    color: var(--white-color);
    margin-top: 60px;
    margin-bottom: 20px;
    
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%; 
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:first-child){
        margin-left: 10px;
    }
    .social__icons{
        fill: var(--white-color);
    }
    &:hover, .ellipse-icon-footer:focus{
        background: var(--blue-color);
    }
}
.footer{
    background-color: var(--fon-color);
}
.distribution{
    // margin-left: 93px;
}
.second-titel.distribution__text{
    color: var(--white-color);
    margin-top: 60px;
}
.telegram{
    // display: flex;
    // align-items: flex-end;
}
.telegram__label{
    display:inline-block;
    margin-top: 20px;
    margin-bottom:20px;
    // margin-right: 12px;
}
.telegram__input{
    height: 50px;
    width: 450px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--fon-color);
    outline: none;
    color: var(--white-color);

    &::placeholder{
        color: gba(255, 255, 255, 0.6);
    }
}

.telegram__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--blue-color);
    border-radius: 4px;

}
.telegram__icon{
    margin-left: 10px;
}
// ==========================END-mobail-footer=================== //
@media screen and (min-width:768px) and (max-width:1199px) {
    .second-titel.social-wrapper__text{
        text-align: center;
        margin-top: 0px;
    }
    .distribution__text{
        text-align: center;
    }
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .telegram{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:768px) and (max-width:1199px) {
    .footer-box-contact{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}