.hero {
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)
        ),
        url("../../images/header-img-480.jpg");
        background-color: var(--fon-color);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 767px;


    @media  screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
    .hero{
            background-image: linear-gradient(
              rgba(47, 48, 58, 0.4),
              rgba(47, 48, 58, 0.4)),
                url("../../images/header-img-960.jpg");
            }
    }
    }

    @media screen and (min-width:768px) {
        .hero{
                max-width: 1199px;
                background-image: linear-gradient(
                  rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
                    url("../../images/header-img-768.jpg");
                }
    @media  screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution: 192dpi),
                screen and (min-resolution: 2dppx){
        .hero{
                background-image: linear-gradient(
                  rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
                    url("../../images/header-img-1532.jpg");
                }
        }
        }
        
    @media screen and (min-width:1200px) {
        .hero{
                max-width: 1600px;
                background-image: linear-gradient(
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                      url("../../images/header-img-1600.jpg");
                    padding-top: 200px;
                    padding-bottom: 200px;
                    }
    @media  screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
        .hero{
                    background-image: linear-gradient(
                      rgba(47, 48, 58, 0.4),
                      rgba(47, 48, 58, 0.4)),
                        url("../../images/header-img-3200.jpg");
                    }
        }
        }  
      
.hero__button{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    background-color: var(--blue-color);
    border: var(--blue-color);
    border-radius: 4px;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: var(--blue-color);
        background-color: var(--white-color);
        border: var(--white-color);
    }
}

.hero__text{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 360px;
        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.3;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color:var(--white-color);
}

@media screen and (min-width:1200px) {
    .hero__text{
        max-width: 696px;
        font-size: 44px;
    }
}

.hero__wrapper{
    text-align: center;
    margin-top: 30px;
}
// ========================end-hero==================== //
.abuot{                                                                     
    max-width: 450px;
    &:not(:last-child){
        margin-bottom: 30px;
    }
}

@media screen and (min-width:768px) {
    .abuot{
        max-width: 354px;
        margin: 15px;
    }
}

.abuot__icon{
    padding: 25px;
    background-color:var(--secont-white);
    text-align: center;
}

.about__text{
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

@media screen and (min-width:1200px) {
    .flex-between.abuot__flex{
        margin: 0px;
    }
    .abuot.li-nav{
            max-width: 270px;
            margin: 0px;
        }
    .abuot__icon{
            display: flex;
            justify-content: center;
            padding: 25px 100px;
            background-color:var(--secont-white)
        }   
}

// =========================end-about================= //
@media screen and (max-width:1199px) {
        .work.section{
                display: none;
        }
}
@media screen and (min-width: 1200px){
.flex-between.work__flex {
    margin: 0px;
}
}

.work.section{
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.work__title{
    padding-bottom: 50px;
}

.work__list{
    position: relative;
}

.work__wrapper{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__list .second-titel{
    margin-top: 0px;
    color: var(--white-color);
}
//======================end-works==================== //
.team{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secont-white);
}

.team__title{
    margin-bottom: 30px;
}

.team__list{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color); 
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .team__list{
        margin-bottom: 0px;
    }
    .team__list.li-nav{
        margin: 15px;
    }
}

@media screen and (max-width:768px) {
    .team__list{
        margin-bottom: 30px;
    }
} 
    
.employee{
    background-color: var(--white-color);
    border-radius: 0px 0px 4px 4px;
}

.employee__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

.employee__text{
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--grey-color);
    margin-bottom: 16px;
}

.employee__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.employee__list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:first-child){
        margin-left: 10px;
    }
    &:hover, &:focus{
        background-color: var(--blue-color);
    }
    &:hover .employee__icons,&:focus .employee__icons{
        fill: var(--white-color);
    }
}

.employee__icons{
    fill:var(--secont-grey);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// ========================end-team====================== //
@media screen and(min-width:768px) {
    .client{
        margin: -15px;
    }
}

.client-title{
    margin-bottom: 30px;
}

.client__list{
    padding: 16px 50px;
    border: 1px solid var(--secont-grey);
    border-radius: 4px;
    margin: 15px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        border: 1px solid var(--blue-color);
    }
    &:hover .client__icons, &:focus .client__icons{
        fill: var(--blue-color);
    }
}

.client__icons{
    fill: var(--secont-grey);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and(min-width:1200px) {
    .client__list{
        padding: 16px 31px;
        margin: 0px;
    }

    .client{
        margin: 0px;
    }
    
    .client-title{
        margin-bottom: 30px;
    }
}
// ====================end-client=================== //