// .filter{
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 94px;
//     border-top: 1px solid var(--secont-white);
// }
// .filter__wrapper{
//     display: flex;
//     justify-content: center;
//     padding-bottom: 50px;
//  }
//  .filter__list + .filter__list{
//     margin-left:8px;
// }
// .filter__button{
//     font-family: inherit;
//     font-weight: 500;
//     font-size: 16px;
//     padding: 6px 22px 6px 22px;
//     border-radius: 4px;
//     background: var(--secont-white);
//     border: var(--secont-white);
//     letter-spacing: 0.03em;
//     line-height: 1.6;
//     cursor: pointer;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover, &:focus{
//         color: var(--white-color);
//         background-color: var(--blue-color);
//         border: var(--blue-color);
//         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
//                     0px 1px 2px rgba(0, 0, 0, 0.08),
//                     0px 2px 2px rgba(0, 0, 0, 0.12);
//         border-radius: 4px;
//     }
// }

// .filter__button.current{
//     color: var(--white-color);
//     background-color: var(--blue-color);
//     border: var(--blue-color);
// }




.filter{
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    border-top: 1px solid var(--secont-white);
}
.filter__wrapper{
    // display: flex;
    // justify-content: center;
    // padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
 }
 @media screen and(min-width:768px) {
     .filter__wrapper{
        justify-content: center;
        padding-bottom: 30px;
     }
 }
 .filter__list{
     margin-bottom: 15px;
 }
 
 .filter__list + .filter__list{
    margin-left:8px;
}
@media screen and(max-width:768px) {
    .filter__list.li-nav:nth-last-child(-n + 3){
        margin-bottom: 0px;
    }
    .filter__list.li-nav:nth-last-child(2){
        margin-left: 0px;
    }
}

.filter__button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    background: var(--secont-white);
    border: var(--secont-white);
    letter-spacing: 0.03em;
    line-height: 1.6;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        color: var(--white-color);
        background-color: var(--blue-color);
        border: var(--blue-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.filter__button.current{
    color: var(--white-color);
    background-color: var(--blue-color);
    border: var(--blue-color);
}