.product {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: -15px;
}

.product__list {
    margin: 15px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .product__overley{
        transform: translateY(0);
    }
}

@media screen and (max-width:768px) {
    .product__list{
        margin-bottom: 30px;
    }
    .product__list:last-child{
        margin-bottom: 0px;
    }
}

.product__content{
    position: relative;
    overflow: hidden;
}

.product__overley{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__text{
    color: var(--white-color);
    font-size: 18px;
    line-height:1.5;
    letter-spacing: 0.03em
}

.description {
    border: 1px solid var(--secont-white);
    padding-left: 24px;
    padding-right: 24px;
}

@media screen and(min-width:768px) and (max-width:1199px) {
    .description{
        width: 354px;
    }
}

.description__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
}

.description__text{
    font-size: 16px;
    line-height: 1.8;  
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 4px;
    padding-bottom: 20px;
}



