// .product {
//     display: flex;
//     flex-wrap: wrap;
// }
// .product__list {
//     width: calc((100% - 60px) / 3);
//     margin-right: 30px;
//     margin-bottom: 30px;

//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover, &:focus{
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//                     0px 4px 4px rgba(0, 0, 0, 0.06),
//                     1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
//     &:nth-child(3n) {
//         margin-right: 0px;
//     }
//     &:nth-last-child(-n + 3){
//         margin-bottom: 0px;
//     }
//     &:hover .product__overley{
//         transform: translateY(0);
//     }
// }

// .product__content{
//     position: relative;
//     overflow: hidden;
// }
// .product__overley{
//     position: absolute;
//     top: 0;
//     left: 0;
//     text-align: left;
//     padding: 63px 24px;
//     width: 100%;
//     height: 100%;
//     background: rgba(33, 150, 243, 0.9);

//     transform: translateY(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .product__text{
//     color: var(--white-color);
//     font-size: 18px;
//     line-height:1.5;
//     letter-spacing: 0.03em
// }
// .description {
//     border: 1px solid var(--secont-white);
//     padding-left: 24px;
//     padding-right: 24px;
// }
// .description__title{
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     padding-top: 20px;
// }
// .description__text{
//     font-size: 16px;
//     line-height: 1.8;  
//     letter-spacing: 0.03em;
//     color: var(--grey-color);
//     margin-top: 4px;
//     padding-bottom: 20px;
// }










.product {
    // display: flex;
    // flex-wrap: wrap;
}
.product__list {
    // width: calc((100% - 60px) / 3);
    // margin-right: 30px;
        margin-bottom: 30px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    // &:nth-child(3n) {
    //     margin-right: 0px;
    // }
    // &:nth-last-child(-n + 3){
    //     margin-bottom: 0px;
    // }
    &:last-child{
        margin-bottom: 0px;
    }
    &:hover .product__overley{
        transform: translateY(0);
    }
}

.product__content{
    position: relative;
    overflow: hidden;
}
.product__overley{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__text{
    color: var(--white-color);
    font-size: 18px;
    line-height:1.5;
    letter-spacing: 0.03em
}
.description {
    border: 1px solid var(--secont-white);
    padding-left: 24px;
    padding-right: 24px;
}
.description__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-top: 20px;
}
.description__text{
    font-size: 16px;
    line-height: 1.8;  
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 4px;
    padding-bottom: 20px;
}



