:root{
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #FFFFFF;
    --fon-color: #2F303A;
    --main-font-color:#212121;
    --black-color: #000000;
    --secont-white: #F5F4FA;
    --secont-grey: #AFB1B8; 
}